[
    {kernel, [
        {error_logger, {file, "test_kernel.log"}}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "test_sasl.log"}}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [
                {file, "test_lageris.log"},
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " ", color, "[", severity, "]\t",
                    {proc, ["<", proc, "> "], ""},
                    {pid, ""}, {module, [{pid, ["@"], ""}, module, {line, [":",line], ""}], ""},
                    "\t", message, "\n"
                ]}
            ]}
        ]},
        {error_logger_redirect, true},
        {crash_log, "test_crash.log"}
    ]},
    {setup, [
        {verify_directories, false}     % to NOT create directories data.<node_name> and log.<node_name>
    ]},
    {erlang_tools, [
    ]}
].
